key.txt
/Source/*/obj
/Source/*/bin
_ReSharper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.resharper
*.suo
*.cache
*~
*.swp
NDependOut
Source/GlobalAssemblyInfo.cs
/Build
/Release
/Documentation

*.bak
*_mm_cache.bin
*.user
Source/packages
*.ncrunch*
.fake
